// styles/about.scss

// Variables
$primary-color: #e91e63;
$text-color-dark: #333;
$text-color-light: #666;
$background-color: hsla(0, 0%, 100%, 0.906);
$box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
$border-radius: 8px;

// Mixins
@mixin box-shadow($shadow) {
  box-shadow: $shadow;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

// Styles principaux
.about-container {
  padding: 2rem;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  @include border-radius($border-radius);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
  margin-top: 30px;
}

.about-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 4rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s ease-out forwards;

  .about-header-content {
    background-color: $background-color;
    @include border-radius($border-radius);
    @include box-shadow($box-shadow);
    background-color: #fffffe;
    padding: 35px 40px;
    h1 {
      font-size: 2.5rem;
      color: $text-color-dark;
      margin-bottom: 0;
      text-align: left;
      text-decoration-color: $text-color-dark;
      text-decoration-thickness: 2px;
    }

    p {
      font-size: 1.1rem;
      color: $text-color-light;
      line-height: 1.6;
      text-align: left;
    }
  }

  img {
    width: 410px;
    height: 297px;
    object-fit: cover;
  }
}

.about-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  opacity: 0;
  transform: translateX(-20px);
  animation: fadeInLeft 1.5s ease-out 0.5s forwards;

  .about-section {
    flex: 1;
    //min-width: 300px;
    background-color: $background-color;
    @include border-radius($border-radius);
    @include box-shadow($box-shadow);
    padding: 1rem;

    h2 {
      font-size: 2rem;
      color: #444;
      border-bottom: 2px solid $primary-color;
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      color: $text-color-light;
      line-height: 1.6;
    }
  }
}

.about-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  @include border-radius($border-radius);
  margin-bottom: 1.5rem;
  @include box-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

// Animations
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// Responsive Design
@media (max-width: 768px) {
  .about-container {
    padding: 1rem;
    width: 90%;
  }

  .about-header {
    flex-direction: column;
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
    img {
      width: 100%;
    }
  }

  .about-section {
    h2 {
      font-size: 1.5rem;
    }
  }

  .about-image {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .about-container {
    padding: 0.5rem;
    width: 90%;
  }

  .about-header {
    flex-direction: column;
  }

  .about-header {
    h1 {
      font-size: 1.5rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

  .about-section {
    h2 {
      font-size: 1.25rem;
    }
  }

  .about-image {
    height: 200px;
  }
}
