// styles/contact.scss
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import './button.scss';
// Variables (définies ici pour personnaliser facilement les couleurs, espacements, etc.)
$primary-color: #0070f3;
$primary-color-hover: #005bb5;
$border-color: #ccc;
$border-radius: 4px;
$animation-duration: 2s;

// Conteneur principal du formulaire de contact
.contact-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
  display: flex;
  justify-content: center;
}

.contact-container-content {
  width: 50%;
}

.contact-title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 1rem;
}

.contact-description {
  margin-bottom: 1rem;
  width: 80%;
}

.contact-info {
  margin-bottom: 0.2rem;
}

.contact-info-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.contact-info-item {
  strong {
    font-weight: bold;
    font-size: 18px;
  }
}

.map-container {
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
}

.map-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.map-iframe {
  width: 100%;
  height: 450px;
  border: 0;
  opacity: 0;
  transform: translateY(20px);
}

.form-container {
  width: 50%;
  margin-top: 50px;
}

.form-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.contact-form {
  display: flex;
  flex-direction: column;
  animation: slideInFromFarLeft $animation-duration ease-out 0.5s forwards;

  label {
    margin-bottom: 10px;
    margin-top: 25px;
    margin-left: 12px;
    font-weight: bold;
    padding-top: 12px;
    font-size: 18px;
  }

  .form-name {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    gap: 12px;

    .form-name-content {
      display: flex;
      flex-direction: column;

      span {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
  }

  .form-email {
    width: 85%;
    margin: auto;
  }

  input {
    box-shadow: inset 0 0.0625em 0.125em hsla(0, 0%, 4%, 0.05);
    border-radius: 290486px;
    width: 245px;
    height: 55px;
    padding-left: 5px;
    font-size: 18px;
  }

  textarea {
    padding: 0.8rem;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    margin: auto;
    margin-bottom: 3rem;
    resize: none;
    overflow: auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 85%;
    border-color: black;
  }

  button {
    @include button-styles;
  }
}

// Styles pour les messages de validation et de réussite
.form-message {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: $border-radius;
  text-align: center;
  animation: fadeInOut 4s ease-in-out;

  &.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }

  &.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
}

// Responsive Design
@media (max-width: 768px) {
  .contact-container {
    padding: 15px;
    flex-direction: column;
  }

  .contact-title {
    font-size: 1.8rem;
  }

  .contact-info-title,
  .map-title,
  .form-title {
    font-size: 1.2rem;
  }

  .contact-form input {
    width: 100%;
    height: 45px;
  }

  .contact-form textarea {
    padding: 0.6rem;
  }

  .contact-form button {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .contact-container-content {
    width: 100%;

    text-align: center;

    .contact-description {
      margin: auto;
    }
  }

  .form-name {
    justify-content: center;
    flex-direction: column;
  }

  .form-email {
    width: 95% !important;
  }

  .form-container {
    width: 100%;
  }
}
