// Variables pour personnaliser les couleurs et les espacements !
$footer-background: #333;
$footer-text-color: white;
$social-media-link-color: white;
$social-media-link-hover-color: #ddd;
$social-media-link-margin: 10px;
$footer-link-color: #fff;
$footer-link-hover-color: #b26943;

// Style principal du footer
// test
.footer {
  margin-top: 100px;
  background-color: $footer-background;
  color: $footer-text-color;
  text-align: center;
  padding: 20px 0; // Padding augmenté pour une meilleure espacement
  width: 100%;

  p {
    margin: 5px;
    font-size: 1rem;
  }

  .footer-content {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-content .footer-contact {
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 25px;

    a {
      text-decoration: none;
      color: white;
      margin-bottom: 10px;

      &:hover {
        color: #b26943;
        text-decoration: underline;
      }
    }
  }

  .footer-content .footer-links {
    display: flex;
    flex-direction: column;

    margin: 10px 0;

    a {
      text-align: left;
      color: $footer-link-color;
      margin: 5px 15px;
      font-size: 0.95rem; // Ajustement de la taille de la police
      text-decoration: none;

      &:hover {
        color: $footer-link-hover-color;
        text-decoration: underline;
      }
    }
  }

  .footer-content .social-media {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    p {
      font-size: 16px;
      font-weight: bold;
    }

    a {
      color: $social-media-link-color;
      margin: 0 $social-media-link-margin;
      transition: color 0.3s ease;

      &:hover {
        color: $social-media-link-hover-color;
      }
    }
  }
}

// Responsive Design pour les tablettes
@media (max-width: 768px) {
  .footer {
    padding: 15px 0;

    p {
      font-size: 0.9rem; // Taille réduite du texte pour les petits écrans
    }
    .footer-content {
      flex-direction: column;
    }

    .footer-content .footer-links {
      a {
        text-align: center;
      }
    }

    .footer-content .footer-contact {
      bottom: 0px;
      text-align: center;
    }

    .footer-links {
      a {
        margin: 5px 10px; // Réduction de l'espacement pour s'adapter aux écrans plus petits
        font-size: 0.9rem; // Taille réduite des liens
      }
    }

    .social-media {
      a {
        margin: 0 8px; // Espacement réduit pour les petits écrans
      }
    }
  }
}

// Responsive Design pour les mobiles (moins de 480px)
@media (max-width: 480px) {
  .footer {
    padding-top: 50px;

    .footer-content {
      flex-direction: column;
    }

    .footer-content .footer-links {
      a {
        text-align: center;
      }
    }

    .footer-content .footer-contact {
      bottom: 0px;
      text-align: center;
    }

    p {
      font-size: 0.85rem; // Taille encore plus réduite pour les très petits écrans
    }

    .footer-links {
      a {
        margin: 5px 8px;
        font-size: 0.85rem; // Taille des liens adaptée aux petits écrans
      }
    }

    .social-media {
      a {
        margin: 0 6px; // Espacement réduit pour les liens des réseaux sociaux

        svg {
          width: 24px; // Réduction de la taille des icônes pour s'adapter aux petits écrans
          height: 24px;
        }
      }
    }
  }
}
